body{
  height:100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

#inspiration {
	background: peachpuff;
  text-align:center;

}

p{
  padding-top: 20px;
  font-family: 'Jacques Francois Shadow', cursive;
  font-size:40px;
}

#your{
  font-family: 'Petit Formal Script', cursive;
  font-size: 40px;
}

#life {
  font-family: 'Sail', cursive;
  font-size: 80px;
  color: #FF3300;
}

p1{
  font-family: 'Sail', cursive;
  font-size:40px;

}
#cursive{
  font-family: 'Sail', cursive;
  font-size: 40px;

}
#love {
  font-family: 'Jacques Francois Shadow', cursive;
  font-size: 70px;
  color: #FF3300;
}

#love1 {
  font-family: 'Jacques Francois Shadow', cursive;
  font-size: 60px;
  color: #FF3300;
}

#quit{
 font-family: 'Eagle Lake', cursive;
 font-size:40px;
 color: #DC143C;
}

#stop{
  font-family: 'Eagle Lake', cursive;
  font-size: 40px;
  color:#DC143C;
}

p2{
  font-family: 'Petit Formal Script', cursive;
  font-size:40px;

}

#analyze{
  font-family:'Mrs Sheppards', cursive; 
  font-size:70px;
  color:#FF3300;

}

#right{
  padding-left: 300px;
  text-align:right;
  text-indent: 70px;
}

p3{

  font-family: 'Mrs Sheppards', cursive;
  font-size:40px;

}
#beautiful{
  font-family: 'Sail', cursive;
  font-size: 50px;
  color: #CD3E2D;
}

#bite{
  padding-right: 200px;
  font-family: 'Sail', cursive;
  font-size: 35px;
}


#mind{
  padding-right: 250px;
  font-family:'Petit Formal Script', cursive;
  font-size: 40px;
}
#arms{
  padding-left: 200px;
  font-family:'Petit Formal Script', cursive;
  font-size: 40px;

}
#heart{
  padding-left: 150px;
  font-family: 'Petit Formal Script', cursive;
  font-size: 40px;
}
#united{
  padding-right: 100px;
  font-family: 'Jacques Francois Shadow', cursive;
  font-size: 30px;
  color:#DC143C;
}
#dream{
  font-family: 'Sail', cursive; 
  font-size: 35px;
  padding-left: 300px;
  color:#FF3300;
}

p6{
  font-family: 'Eagle Lake', cursive;
  font-size: 20px;
}

#travel{
  font-family: 'Jacques Francois Shadow', cursive;
  font-size: 50px;
  color:#FF3300;

}
p7{
  font-family: 'Eagle Lake', cursive;
  font-size: 20px;

}
#seize{
 font-family: 'Holtwood One SC', serif;
 font-size: 60px;
 color: #CD3E2D;
}

#people{
  font-family: 'Sail', cursive;
  font-size: 50px;
  color:#DC143C;
}


#create{
  font-family: 'Sail', cursive;
  font-size: 50px;
  color:#DC143C;
}


#start{
  font-family: 'Sail', cursive;
  font-size: 50px;
  color:#DC143C;
}


p9{
  font-family: 'Jacques Francois Shadow', cursive;
  font-size: 45px;
  color:#FF3300;
}

p10{
  font-family: 'Sail', cursive;
  font-size: 35px;
  color: black;
}


#passion{
  font-family:'Mrs Sheppards', cursive; 
  font-size:70px;
  color:#FF3300;

}











